* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(241, 242, 243);
    font-family: roboto-l;
}
p {
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

input,
textarea {
    border: none;
    border-radius: 2px;
    padding: 5px;
    font-family: inherit;
}
