// Colors
$clr1: #024b80;
$clr2: #89b0cd;
$clr3: #f0f8ff;
$clr4: #ffeeff;
$clr5: #ffeeff;
$clr6: #fff;

// Breakpoints
$break-mobile: 540px;
$break-narrow: 740px;
$break-normal: 985px;
$break-wide: 1300px;
